*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 790px;
    
    background: linear-gradient(
        to right,
        rgb(21, 52, 52) 0%,
        rgb(21, 52, 52) 50%,
    orange 50%,
    orange 100%);
}
.main_container{
    display: flex;
    flex-direction: column;
    width: 1050px;
    height: 600px;
    background-color: white;
    margin-top: 60px;
    gap: 80px;
}
.nav{
    display: flex;
   position: relative;
   left: 630px;
   gap: 20px;
   top: 40px;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}   
.nav a{
   color: black;
 text-decoration: none;
}
.container{
    display: flex;
    height: 500px;
    width: 1050px;
    justify-content: space-between;
    
}
.box1{
    margin-left: 80px;
}
h1{
    font-size: 50px;
}
.paragraph{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: dimgray;
    font-weight: bold;
}
 .button{
    display: flex;
    margin-top: 80px;
    gap: 20px;
    
 }
 .button :nth-child(1){
    width: 130px;
    height: 45px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
 }
 .button :nth-child(2){
    width: 190px;
    height: 45px;
    color: white;
    background-color: black;
    font-weight: bold;
    cursor: pointer;
 }
.box2{
    width: 300px;
    height: 350px;
    border: 2px solid black;
    border-bottom-left-radius: 50%;
    margin-right: 80px;
    overflow: hidden;
    background: linear-gradient(
        to right,
        rgb(21, 52, 52) 0%,
        rgb(21, 52, 52) 50%,
    orange 50%,
    orange 100%);
    box-shadow: 5px 0px 5px 3px black;
}
img{
    height: 450px;
    position: relative;
    bottom: 100px;
    left: 50px;
    bottom: 50px;
    
}
